<library path="lib/libopen_loop_position_controller">
  <class name="control/OpenLoopPositionController" type="control::OpenLoopPositionController" base_class_type="controller_interface::ControllerBase">
		<description>
			Single Joint Velocity controller Open Loop by using Position interface
		</description>
	</class>
</library>
